

$product-text: #22262A;
$product-text-review: #C1C8CE;
$product-text-review-button: #33A0FF;
$product-border: #F6F7F8;
$product-border-blue: #006CFF;
$product-button-bg: #F6F7F8;
$star-yellow: #FFC600;
$star-gray: #C1C8CE;
$price: #FD2E2E;
$price-discounted: #E5E5E5;
$product-details: #262626;
$product-info-blue: #2E90E5;
$product-info-black: #262626;
$product-info-gray: #FAFAFB;
$facebook: #385C8E;
$twitter: #03A9F4;
$tab: #F1F3F4;


.container-product{

    display: flex;
    justify-content: center;

    &__wrapper {
        margin-top: 100px;
        width: 630px;
    }
    
}

.product {
    margin-top: 50px;
    display: flex;

    &__image {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 300px;

        .pic {
            height: 250px;
            width: 300px;
        }

        .image-set__item {

            height: 60px;
            width: 60px;
            border: 2px solid $product-border;
            margin: 70px 5px 0;


            &:hover {
                border: 2px solid $product-border-blue;
            }
            
            &--active {
                border: 2px solid $product-border-blue;
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        margin: 0 10px 0 25px;

        &--title {
            font-size: 17px;
            font-family: 'Proxima Nova Rg';
            font-weight: bold;
            color: $product-text;
            margin-top: 10px;
        }

        &--rating {
            display: flex;
            margin-top: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid $product-border;

            .rating{

                &__star{

                    &--yellow {
                        
                        padding-left: 5px;
                        height: 10px;
                        width: 10px;
                        color: $star-yellow;
                    }

                    &--gray {
                        
                        padding-left: 5px;
                        height: 10px;
                        width: 10px;
                        color: $star-gray;
                    }
                }

                &__reviews {
                    font-size: 14px;
                    font-family: 'Proxima Nova Rg';
                    color: $product-text-review;
                    margin: 0 10px 0 10px;
                }

                &__button {
                    font-size: 14px;
                    font-family: 'Proxima Nova Rg';
                
                a {
                    color: $product-text-review-button;
                    text-decoration: none;
                }
                

                &:hover {
                    background-color: $product-text-review-button;
                    padding: 2px;
                    border-radius: 5px;

                    a{
                        color: white;
                    }
                }
                }
            }
        }
        &--price {
            display: flex;
            font-size: 24px;
            font-family: 'Proxima Nova Rg';
            margin-top: 10px;
    
            &-discounted {
                color: $price;
            }
    
            &-original {
                margin-left: 15px;
                color: $price-discounted;
                text-decoration: line-through;
            }
        }

        &--summary {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            font-family: 'Proxima Nova Rg';
            font-size: 14px;
            color: $product-details;
            padding-bottom: 30px;
            border-bottom: 1px solid $product-border;

            .availability {
                display: flex;

                &__text {
                    margin-right: 30px;
                    font-weight: bold;
                }
            }

            .category {
                display: flex;
                margin: 10px 0 10px 0;

                &__text {
                    margin-right: 39px;
                    font-weight: bold;
                }
            }

            .shipping {
                font-weight: bold;
            }
        }

        &--color {
            font-family: 'Proxima Nova Rg';
            font-size: 14px;
            color: $product-details;
            font-weight: bold;
            margin-top: 20px;
            display: flex;

            .circle {
                &__blue {
                    border: 2px solid white;
                    box-shadow:0 0 0 2px rgb(55, 143, 243);
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    background-color: blue;
                    margin-left: 10px;
                }
                
                &__red {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: red;
                    margin-left: 10px;

                    &:hover {
                        border: 2px solid white;
                        box-shadow:0 0 0 2px rgb(252, 0, 0);
                        height: 10px;
                        width: 10px;
                    }
                }

                &__pink {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color:pink;
                    margin-left: 10px;

                    &:hover {
                        border: 2px solid white;
                        box-shadow:0 0 0 2px rgb(255, 149, 149);
                        height: 10px;
                        width: 10px;
                    }
                }

                &__black {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: black;
                    margin-left: 10px;

                    &:hover {
                        border: 2px solid white;
                        box-shadow:0 0 0 2px black;
                        width: 10px;
                        height: 10px;
                    }
                }

                &__white {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: white;
                    margin-left: 10px;

                    &:hover {
                        border: 2px solid white;
                        box-shadow:0 0 0 2px rgb(248, 248, 143);
                        height: 10px;
                        width: 10px;
                    }
                }
                &__brown {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: brown;
                    margin-left: 10px;

                    &:hover {
                        border: 2px solid white;
                        box-shadow:0 0 0 2px rgb(248, 198, 151);
                        height: 10px;
                        width: 10px;
                    }
                }
            }
        }

        &--size {
            font-family: 'Proxima Nova Rg';
            font-size: 14px;
            color: $product-details;
            font-weight: bold;
            margin-top: 20px;
            display: flex;
            align-content: center;
            padding-bottom: 30px;
            border-bottom: 1px solid $product-border;

            #sizes{

                border:1px solid lightgray;
                border-radius: 10%;
                height: 20px;

            }
        }

        .options {
            display: flex;
            margin-top: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid $product-border;
            
            .counter {
                display: flex;
                align-items: center;
                margin-left: 5px;
        
                &__button {
                    height: 40px;
                    width: 80px;
                    background-color: $product-button-bg;
                    border-radius: 5px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
        
                    &--minus {
                        color: $product-border-blue;
                        font-size: 8px;
                    }
                    
                    &--count {
                        display: flex;
                        font-family: 'Proxima Nova Rg';
                        font-size: 16px;
                        color: $product-details;
                        justify-content: center;
                        align-items: center;

                        input{

                            display: flex;
                            border: 1px solid transparent;
                            width: 20px;
                            background-color: $product-button-bg;
                            align-content: center;

                        }
                    }
                    
                    &--plus {
                        color: $product-border-blue;
                        font-size: 8px;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            margin-left: 50px;
        
            &__cart {
                background-color: $product-button-bg;
                border-radius: 5px;
                color: $product-border-blue;
                height: 40px;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                border:1px solid transparent;
        
                &--icon {
                    margin-right: 10px;
                }
        
                &:hover {
                    background-color: $product-border-blue;
                    color: $product-button-bg;
                    cursor: pointer;
                }
            }
        
            &__favorite {
                background-color: $product-button-bg;
                height: 40px;
                width: 30px;
                border-radius: 5px;
                margin-left: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $product-border-blue;
        
                &:hover {
                    background-color: $product-border-blue;
                    color: $product-button-bg;
                    cursor: pointer;
                }
            }
        }
    }
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 20px;

    &__facebook {
        height: 35px;
        width: 155px;
        border-radius: 5px;
        background-color: $facebook;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Proxima Nova Rg';
        font-size: 12px;
        color: white;

        &--icon {
            margin-right: 10px;
        }

        &:hover {
            background-color: white;
            color: $facebook;
        }
    }

    &__twitter {
        height: 35px;
        width: 155px;
        border-radius: 5px;
        background-color: $twitter;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Proxima Nova Rg';
        font-size: 12px;
        color: white;
        
        &--icon {
            margin-right: 10px;
        }

        &:hover {
            background-color: white;
            color: $twitter;
        }
    }
}

.info{

    background-color: #FAFAFB;
    border-radius: 6px;

    .info__nav{

        display: flex;
        padding: 20px 10px 20px 30px;
        align-items: center;
        
        &--product, &--reviews, &--tab{

            padding-right: 15px;
            font-weight: bolder;

            a{
    
                text-decoration: none;
                color: black;

            }
            
            .active{

                color: #2E90E5;

            }

            .review__count{

                width: 15px;
                border: 1px solid transparent;
                color: gray;
                font-weight: 600;
                font-size: 16px;
                padding-top: 0px;
                padding-bottom: 0px;
                font-family: 'Proxima Nova Rg';

            }

        }

    }

    .info__text{

        padding: 30px;
        border-top: 5px solid #E5E8EA;

    }
}