.price{
    
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #F6F7F8;
    width: 270px;

    .filter__price{

        padding-left: 20px;

        .slider__header{

            display: flex;
            font-weight: bolder;
            width: 90%;
            justify-content: space-between;

        }

        .slider{

            width: 95%;

        }

    }

}

