.containerBox {
  background-image: linear-gradient(to bottom, rgba(172, 172, 172, 0.52), rgba(0, 0, 0, 0.93)),
  url("../images/domenico-loia-hGV2TfOh0ns-unsplash@2x.png");
  background-size:cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  

  .containerLeft {
    height: 300px;
    width: auto;
    border-radius: 6px;

    .companyLogo {

      margin-top: 100px;

      a {
        text-decoration: none;
        color: #a83232;
        display: flex;

        .white {
          color: white;
        }
      } 
    }
    
    .bar{
      margin: 0 0 15px 0;
      width: 100px;
      height: 10px;
      background-color: #a83232;
    }
  }

  .containerRight {
    background: white;
    height: fit-content;
    width: fit-content;
    border-radius: 6px;

    
  .registration{

    margin-left: 10px;
    padding-top: 10px;
    font-size: 14px;
  
  }  
  
    .title {
      text-align: center;
      margin: 10px;
    }
  
    .loginBtn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
  
      .login {
        border-radius: 3px;
        border: none;
        width: auto;
        margin: 5px;
        padding: 0 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 40px;
      }
    
      .green {
        background: black;
        color: white;
  
        .logo {
          height: 20px;
          width: 20px;
          background-image: url(../images/tes.png);
          padding: 10px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    
      .blue {
        background: #4267B2;
        color: white;
  
        .logo {
          height: 20px;
          width: 20px;
          color: blue;
          background-image: url(../images/fb-64.png);
          padding: 10px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  
    .divider{
      display: flex;
      justify-content: center;
      height: 20px;
      margin-left: -60px;

      p{
        background-color: black;
        width: 100%;
        border: 1px solid transparent;
      }
    } 
  
    .input {
      display: flex;
      flex-direction: column;
      margin: 10px 20px;
    }
  
    .signIn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .signInBtn {
        border-radius: 6px;
        border: none;
        width: auto;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 40px;
        color: white;
        background: #FD2E2E;
      }
    }
  
    p{
      margin: 20px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      text-align: center;
  
      a{
          text-decoration: none;
          color: #B2002D;
          margin-left: 5px;
      }
  
  }
  }
}

.sign__in{

  &--apple, &--facebook{
      width: 327px;
      height: 48px;
      border-radius: 6px;
      border: 0;
      background-repeat: no-repeat;
      background-size: 22px;
      background-position: 20% 40%;
  }

  &--apple{

      background-color: black;
      color: white;
      margin-bottom: 15px;
      background-image: url(../images/apple-64.png);
      padding: 10px;
  }

  &--facebook{

      background-color: blue;
      color: white;   
      background-image: url(../images/fb-64.png);
      padding: 10px;

  }

}

.divide{

  display: flex;
  align-items: center;
  flex-basis: 100%;
  width: 100%;
  margin-top: 10px;

  hr{

      flex-basis: 50%;
      height: 1px;
      width: 100px;
      background-color: rgb(248, 9, 9);
      border: 1px solid transparent;

  }
  .h1{margin-right: 10px;
  margin-left: 20px;}
  .h2{margin-left: 10px;}

}

.bar{
  margin-top: 20px;
}

.sign__up{
  margin-top: 10px;
  width: 350px;
  height: 48px;
  background-color: #FD2E2E;
  border-radius: 8px;
  color: white;
  border: 0;
  padding: 5px;
}

.terms_agreement{
  width: 196px;
  height: 28px;
  font-size: 10px;
  align-self: center;
}


