.brand{
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: #F6F7F8;
    border-radius: 4px;

    .filter__brand{
        
        padding-left: 20px;

        h2{
            font-size: 23px;
            font-weight: bold;
            margin-top: 10px;
        }

        .list_box{

            display: flex;
            padding: 10px;
    
            ul{
    
                padding: 0px;
                list-style-type: none;
    
            }

            .category__brand{
                font-weight: bolder;
            }

            .brand__count{
                margin-left: 130px;
            }

    
        }
    

    }
}