.list__filter {
  margin-top: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.list__filter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 20px;
  padding-left: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 58px;
  background-color: #F6F7F8;
  border-radius: 4px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__filter .container .filter__one, .list__filter .container .filter__two, .list__filter .container .filter__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 15px;
}

.list__filter .container .filter__one p, .list__filter .container .filter__two p, .list__filter .container .filter__three p {
  margin-top: 10px;
  padding-right: 10px;
}

.list__filter .container .filter__one p:nth-child(2), .list__filter .container .filter__two p:nth-child(2), .list__filter .container .filter__three p:nth-child(2) {
  padding-left: 10px;
}

.list__filter .container .filter__one input, .list__filter .container .filter__one select, .list__filter .container .filter__two input, .list__filter .container .filter__two select, .list__filter .container .filter__three input, .list__filter .container .filter__three select {
  border: 1px solid #F1F3F4;
  border-radius: 4px;
  height: 38px;
  background-color: transparent;
}

.list__filter .container .filter__one input, .list__filter .container .filter__two input, .list__filter .container .filter__three input {
  color: black;
  width: 15px;
}

.list__filter .container .filter__one input::-webkit-input-placeholder, .list__filter .container .filter__two input::-webkit-input-placeholder, .list__filter .container .filter__three input::-webkit-input-placeholder {
  color: black;
}

.list__filter .container .filter__one input:-ms-input-placeholder, .list__filter .container .filter__two input:-ms-input-placeholder, .list__filter .container .filter__three input:-ms-input-placeholder {
  color: black;
}

.list__filter .container .filter__one input::-ms-input-placeholder, .list__filter .container .filter__two input::-ms-input-placeholder, .list__filter .container .filter__three input::-ms-input-placeholder {
  color: black;
}

.list__filter .container .filter__one input::placeholder, .list__filter .container .filter__two input::placeholder, .list__filter .container .filter__three input::placeholder {
  color: black;
}

.list__filter .container .filter__one #name__filter, .list__filter .container .filter__one #display__filter, .list__filter .container .filter__two #name__filter, .list__filter .container .filter__two #display__filter, .list__filter .container .filter__three #name__filter, .list__filter .container .filter__three #display__filter {
  margin-top: 2px;
}

.list__filter .container .filter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.list__filter .container .filter__buttons i {
  padding: 0 5px 0 20px;
  font-size: 20px;
  color: #919191;
}
/*# sourceMappingURL=ListFilter.css.map */