.filter__more{

    display: flex;
    width: 270px;
    height: 56px;
    background-color: #F6F7F8;
    justify-content: center;
    margin-top: 20px;

    .more__button{

        border: 1px solid transparent;
        background-color: #F6F7F8;

    }

}