.news_container{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    h3{

        padding-bottom: 50px;

    }

    
$news-date: #C1C8CE;
$news-title: #22262A;
.news_box{
    display: flex;
    flex-direction: row;

.container {
    display: flex;
}

.news {
    width: 320px;
    height: 140px;
    display: flex;

    &__image {
        width: 140px;
        height: 140px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        margin: 10px 20px 10px 20px;

        &--date {
            font-family: 'Proxima Nova Rg';
            color: $news-date;
            font-size: 14px;
            margin-top: 10px;
        }

        &--title {
            font-family: 'Proxima Nova Rg';
            color: $news-title;
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
        }

        &--text {
            font-family: 'Proxima Nova Rg';
            color: $news-title;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

}
}
